<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판 리스트 페이지</title>
</head>
<style>

	.layout {
		width: 600px;
		margin: 0 auto;
		margin-top: 40px;
	}
	
	.layout > table {
		width: 100%;
		height: 30px;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	
	
</style>
<body>

	<div class="layout">
		<form th:action="@{/board/list}" method="get">
			<input type="text" name="searchKeyword" placeholder="검색할 단어를 입력하세요">
			<button type="submit"> 검색 </button>
		</form>
		<table border="1">
			<thead>
				<tr>
					<th>글번호</th>
					<th>제목</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="board : ${list}">
					<td>
						<a th:text="${board.id}" th:href="@{/board/view(id=${board.id})}"></a>
					<td>
						<a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- 글등록 페이지 이동 -->
		<button style="float:right;" th:onclick="|location.href='@{/board/write}'|">글등록</button>
		<!-- 페이지 이동 -->
		<th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
			<a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page -1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
			<strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
		</th:block>
		
	
	</div>

</body>
</html>